PROJECT_NAME=Lost&Found Ad Service
API_V1_STR=/api/v1
HOST=0.0.0.0
PORT=8001
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=lostfound_ads_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin
DB_ECHO=false
USER_SERVICE_BASE_URL=http://localhost:8000
